/* ================= FOOTER ================= */

.footer {
    background-color: var(--lila); /* o el color base de tu marca */
    color: white;
    padding: 30px 20px 10px;
    margin-top: 0px;
    line-height:1.3;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px  ;
  }
  
  .footer-info {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    font-size: 0.95rem;
  }
  
  .footer-info p {
    margin: 0;
    font-size: 0.rem;  
    white-space: nowrap; /* evita saltos de línea */
  }
  
  .footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.25);
    padding-top: 20px;
    font-size: 0.85rem;
    opacity: 0.8;
  }

  .footer-logo {
    margin-bottom: 25px;
  }
  
  .footer-logo img {
    height: 30px;     /* controla tamaño */
    width: auto;
    opacity: 0.95;
  }

  @media (max-width: 768px) {

    .footer-container {
      padding: 25px 15px;
      gap: 15px;
    }
  
    .footer-info {
      font-size: 0.85rem;
      gap: 15px;
    }

    .footer p{
        font-size: 0.75rem;
    }
  
    .footer-logo img {
      height: 30px;
    }
  }
  
  
  @media (max-width: 480px) {

    .footer-container {
      flex-direction: column;
      text-align: center;
      gap: 10px;
      padding: 20px 15px;
    }
  
    .footer-info {
      flex-direction: column;
      gap: 6px;
      font-size: 0.8rem;
    }
  
    .footer-bottom {
      font-size: 0.75rem;
    }


  }
  