.mosaic-editorial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 20px;

}

/* Estilos base para todas las imágenes */
.mosaic-editorial img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-soft);
  transition: transform 0.3s ease;
}

.mosaic-editorial img:hover {
  transform: scale(1.05);
}

/* Imagen horizontal grande arriba izquierda */
.mosaic-editorial .big-horizontal {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

/* Imagen vertical alta derecha */
.mosaic-editorial .tall-vertical {
  grid-column: 4;
  grid-row: span 2;
}

/* Imagen vertical mediana abajo izquierda */
.mosaic-editorial .medium-vertical {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

/* Imagen vertical derecha inferior */
.mosaic-editorial .last-img {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

/* RESPONSIVE: tablets */
@media (max-width: 900px) {
  .mosaic-editorial {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
  }

  .mosaic-editorial img {
    grid-column: auto !important;
    grid-row: auto !important;
  }
}

/* RESPONSIVE: móviles */
@media (max-width: 500px) {
  .mosaic-editorial {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
  }

  .mosaic-editorial img {
    grid-column: auto !important;
    grid-row: auto !important;
  }
}
