.mosaic-editorial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 10px;
  /*background-color: rgb(240, 191, 199);
  padding: 8px;*/
  border-radius: var(--radius-m);


}

/* Estilos base para todas las imágenes */
.mosaic-editorial img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-soft);
  transition: transform 0.3s ease;
}

.mosaic-editorial img:hover {
  transform: scale(1.05);
}

/* Imagen horizontal grande arriba izquierda */
.mosaic-editorial .big-horizontal {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

/* Imagen vertical alta derecha */
.mosaic-editorial .tall-vertical {
  grid-column: 4;
  grid-row: span 2;
}

/* Imagen vertical mediana abajo izquierda */
.mosaic-editorial .medium-vertical {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

/* Imagen vertical derecha inferior */
.mosaic-editorial .last-img {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

/*TABLETES*/
@media (max-width: 900px) {

  .mosaic-editorial {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-template-rows: 180px 180px 180px;
    gap: 20px;
  }

  /* GRANDE (2/3 ancho) */
  .mosaic-editorial .big-horizontal {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  /* PEQUEÑA (1/3 ancho) */
  .mosaic-editorial .tall-vertical {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  /* MITAD izquierda */
  .mosaic-editorial .medium-vertical {
    grid-column: 1 / span 1;
    grid-row: 3;
  }

  /* MITAD derecha */
  .mosaic-editorial .last-img {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}



/* RESPONSIVE: móviles */
@media (max-width: 500px) {

  .mosaic-editorial {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    /* ← truco profesional */
    grid-template-rows: 160px 160px;
    gap: 14px;
  }

  /* FILA 1 */
  .mosaic-editorial .big-horizontal {
    grid-column: 1 / span 4; /* ≈ 2/3 del ancho */
    grid-row: 1;
  }

  .mosaic-editorial .tall-vertical {
    grid-column: 5 / span 2; /* ≈ 1/3 del ancho */
    grid-row: 1;
  }

  /* FILA 2 (mitad + mitad REAL) */
  .mosaic-editorial .medium-vertical {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .mosaic-editorial .last-img {
    grid-column: 4 / span 3;
    grid-row: 2;
  }
}
