.intervencion {
  background-color: #6bc859; /* verde agua suave */
  padding: 100px 10px; /* reducimos padding lateral */
}

/* layout */
.intervencion-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* más espacio para las fotos */
  gap: 40px;
  max-width: 1400px; /* ancho máximo del contenedor principal */
  margin: 0 auto;
  justify-content: stretch;
}

.intervencion-image {
  width: 100%;
}

.intervencion-content h2 {
  font-size: 2.2rem;
  color: var(--text-white);
  margin-bottom: 20px;
}

.intervencion-content p {
  color: var(--text-white);
  line-height: 1.7;
  margin-bottom: 16px;
  max-width: 55ch;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .intervencion-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .intervencion-image {
    order: 2;
  }

  .intervencion-content {
    order: 1;
    text-align: center;
  }

  .intervencion-content p {
    margin-left: auto;
    margin-right: auto;
  }
}
